.Footer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 1vh;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-left: 5vh;
}
.span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: gray;
}
.span p{
    margin: 0px 6px 0px 3px;
    color: black;
    text-shadow:2px 2px 5px yellow;
}