
.LandingApp{
    background-color: white;
    height: 100vh;
}

.AllApp{
    height: 100vh;
}

.BackGray{
    background-color: rgba(128, 128, 128, 0.2);
    max-height: 1000vh;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -99999999999999;
}