.Failed{
    display: flex;
    flex-direction: column;
    background-color:rgba(128, 128, 128, 0.2);
    padding-top: 20vh;
    align-items: center;
    justify-content: center;
}
.Failed img{
    display: flex;
    justify-content: center;
    width: 65vh;
    height: 65vh;
    border-radius: 20vh;
    margin-bottom: 2vh;
}
.FailBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0d16a;
    border: 0px;
    height: 5vh;
    width: 5vh;
    border-radius: 100vh;
    margin-bottom: 2vh;
    transition: 1s;
}.FailBtn:hover{
    width: 10vh;
    font-size: 4vh;
    cursor: pointer;
    color: #c95460;
    box-shadow: 0px 2px 5px gray;
}