.DetailedPage{
    height: 75vh;
    padding-top: 16vh;
    padding-bottom: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.DetailedData{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    position: relative;
    left: -15vh;
}

.DetailedImg{
    overflow: hidden;
    border-radius: 5vh;
}
.DetailedImg img{
    border-radius: 5vh;
}

.withoutData{
    color: #c95460;
    font-weight: 600;
    font-size: large;
}

.DetailedPage button{
    background-color: #f0d16a81;
    padding: 1vh;
    border-radius: 2vh;
    color: #c95460;
    font-weight: bold;
    position: fixed;
    top: 18vh;
    right: 10vh;
    border: 2px solid rgba(128, 128, 128, 0.308);
    transition: 1s;
}
.DetailedPage button:hover{
    cursor: pointer;
    background-color: #f0d16a;
}